@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Smokum');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body { 
	font-family: 'Smokum', cursive;
	font-size:16px;
	background: #3A3634;
}
.clear{
	clear: both;
}
#container{
	width:600px; 
	margin:0 auto;
	position: relative;	
}

h1{
	font-size:4em;
	color: #E6C195;
	text-align: center;
}

input.letter{
	display: none;
}
input + label{
	color:#E6C195;
	font-size:2em;
	width:40px;
	float:left;
	text-align: center;
	text-transform: uppercase;

}
input + label:nth-of-type(7n+1), input+label:last-child{
	clear:both;
}
input:checked + label{
	color:#A7792D;
	pointer-events:none;
}

#noose {
	width:315px;
	position: absolute;
	right:0;
	background: red;
/*	transform: scale(.4);*/
}
/* Wrong Letters */
.error{
	display: none;
}

/* one wrong letter */
#container > input.letter.wrong:checked ~	#noose .error.error_1,
/* two wrong letter */
#container > input.letter.wrong:checked ~	input.letter.wrong:checked ~ #noose .error.error_2, 
/* three wrong letter */
#container > input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ #noose .error.error_3, 
/* four wrong letter */
#container > input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ #noose .error.error_4, 
/* five wrong letter */
#container > input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ #noose .error.error_5, 
/* siz wrong letter */
#container > input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ #noose .error.error_6, 
/* seven wrong letter = GAME OVER*/
#container > input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ input.letter.wrong:checked ~ #lose{
	display:block;
}

/* correct letters */
#answers { margin-top:40px; }
#answers input {
	background: none;
	font-family: 'Smokum', cursive;
	color: transparent; 
	font-size:2em;
	width:20px;
	text-transform: uppercase;
	outline:none;
	pointer-events:none;
	border: none;
	border-bottom: 2px solid #F7F1EE;
	text-align: center;	
}

#container > #letter_i:checked ~ #answers > input[value="i"],
#container > #letter_m:checked ~ #answers > input[value="m"],
#container > #letter_a:checked ~ #answers > input[value="a"],
#container > #letter_g:checked ~ #answers > input[value="g"],
#container > #letter_n:checked ~ #answers > input[value="n"],
#container > #letter_t:checked ~ #answers > input[value="t"],
#container > #letter_o:checked ~ #answers > input[value="o"],
#container > #letter_s:checked ~ #answers > input[value="s"]{
	color: #F7F1EE;
}

#container > 
#letter_a:checked ~ #letter_g:checked ~ #letter_i:checked ~ #letter_m:checked ~ #letter_n:checked ~ #letter_o:checked ~ #letter_s:checked ~ #letter_t:checked ~ #win{
display: block;
}

/* Show messages */
.messages{ 
	display: none;
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color: rgba(242, 222, 193, .6);
	color:#F7F1EE;
	z-index:200;
}
.messages .text{
	min-height:250px;
	position:relative;
	width:100%;
	padding:30px 15px;
	font-size:1em;
  top: 50%;
  transform: translateY(-50%);
	text-align: center;
	font-family: 'Rock Salt', cursive;
}
.messages .text strong{
	font-family: 'Smokum', cursive;
	font-size:5em;	
	display: block;
	text-transform: uppercase;
}
.messages#win .text{
	background: #046206;
}
.messages#lose .text{
	background: #A7792D;
}

/* Code to produce frog - i didn't have the time to create one myself
https://codepen.io/Claudia413/pen/GEVgLz */
	.frogface {
		position: absolute;
		left: 100px;
		background-color: #53b28f;
		height: 80px;
		width: 200px;
		border-radius: 45%;
		top: 40px;
		z-index: 2;
	}
	.eye {
		background-color: #53b28f;
		height: 55px;
		width: 45px;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
	}
	.eye.one {
		left: 45px;
		top: -25px;
	}
	.eye.two {
		right: 45px;
		top: -25px;
	}
	.pupil {
		background-color: #303332;
		height: 30px;
		width: 20px;
		border-radius: 50%;
		border-color: #fff;
		border-style: solid;
		border-width: 7px;
		position: absolute;
		z-index: 3;
	}
	.pupil.one {
		left: 5px;
		top: 2px;
		transform: rotate(-7deg);
	}
	.pupil.two {
		right: 5px;
		top: 2px;
		transform: rotate(7deg);
	}
	.frogmouth {
		background-color: #303332;
		position: absolute;
		left: 25px;
		bottom: 20px;
		height: 30px;
		width: 150px;
		border-radius: 50%;
	}
	.froglip {
		background-color: #53b28f;
		position: absolute;
		left: 5px;
		bottom: 10px;
		height: 20px;
		width: 140px;
		border-radius: 40%;
	}
	.frogneck {
		background-color: #53b28f;
		height: 50px;
		width: 50px;
		z-index: 1;
		position: absolute;
		left: 55px;
		top: 90px;
	}
	.frogbody {
		position: absolute;
		left: 120px;
		height: 360px;
		width: 160px;
		z-index: 1;
	}
	.frogtorso {
		background-color: #53b28f;
		height: 200px;
		width: 160px;
		position: absolute;
		border-radius: 50%;
		top: 118px;
		z-index: 2;
	}
	.frogbelly {
		background-color: #a4d5b3;
		height: 180px;
		width: 140px;
		position: absolute;
		border-radius: 50%;
		top: 30px;
		left: 10px;
		z-index: 2;
	}
	.frogleg {
		background-color: #3f846b;
		position: absolute;
		bottom: 0;
		height: 200px;
		width: 80px;
		border-radius: 50%;
		z-index: 1;
	}
	.frogleg.one {
		transform: rotate(-45deg);
		left: 25px;
		bottom: 30px;
		-webkit-transform-origin: center 190px;
	}
	.frogleg.two {
		transform: rotate(45deg);
		right: 25px;
		bottom: 30px;
		-webkit-transform-origin: center 190px;
	}
	.invisible {
		/*background-color: #000000;*/
		position: absolute;
		bottom: 0;
		height: 200px;
		width: 80px;
		border-radius: 50%;
		z-index: 3;
	}
	.invisible.one {
		transform: rotate(-45deg);
		left: 25px;
		bottom: 30px;
		-webkit-transform-origin: center 190px;
	}
	.invisible.two {
		transform: rotate(45deg);
		right: 25px;
		bottom: 30px;
		-webkit-transform-origin: center 190px;
	}
	.frogleglow {
		background-color: #53b28f;
		position: absolute;
		bottom: 10px;
		height: 160px;
		width: 40px;
		border-radius: 50%;
		z-index: 3;
		-webkit-transform-origin: center top;
	}
	.frogleglow.one {
		transform: rotate(25deg);
		left: 15px;
	}
	.frogleglow.two {
		transform: rotate(-25deg);
		right: 15px;
	}
	.frogfoot {
		background-color: #53b28f;
		position: absolute;
		height: 60px;
		width: 30px;
		top: 150px;
		border-radius: 35%;
	}
	.frogfoot.one {
		transform: rotate(25deg);
		left: 0px;
	}
	.frogfoot.two {
		transform: rotate(-25deg);
		right: 0px;
	}
	.frogarm {
		background-color: #53b28f;
		position: absolute;
		height: 110px;
		width: 25px;
		border-radius: 35%;
		top: 90px;
		z-index: 15;
	}
	.frogarm.one {
		left: 40px;
		top: 180px;
		transform: rotate(130deg);
		-webkit-transform-origin: center top;
	}
	.frogarm.two {
		right: 40px;
		top: 180px;
		transform: rotate(-130deg);
		-webkit-transform-origin: center top;
	}
	.froghand {
		background-color: #53b28f;
		position: absolute;
		height: 50px;
		width: 20px;
		top: 90px;
		border-radius: 50%;
	}
	.froghand.one {
		transform: rotate(30deg);
		left: 0px;
		width: 15px;
		background-color: #3f846b;
	}
	.froghand.oneb {
		transform: rotate(0deg);
		left: 4px;
	}
	.froghand.two {
		transform: rotate(-30deg);
		right: 0px;
		width: 15px;
		background-color: #3f846b;
	}
	.froghand.twob {
		transform: rotate(0deg);
		right: 4px;
	}
